{% extends 'orders/base2.html' %}

{% block title %}
    Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

	<br>

	<h2 style = "text-align: center;">Login Form</h2>

	<form method="post">
		<div class="imgcontainer">
			<img src = "/static/favicon.ico" alt="Avatar" class="avatar">
		</div>

		<div class="container">
			{% csrf_token %}
			{{form|crispy}}
			<!-- <button type="submit" class="btn btn-success">Login</button>	 -->
			<button type="submit">Login</button>
		</div>
		<div class="container" style="background-color:#ffffff">
			<button type = "reset" class="cancelbtn">Clear</button>
			<span class="psw">Forgot <a href="#">password?</a></span>
		</div>
	</form>
{% endblock %}
