{% extends 'orders/base.html' %}

{% block title %}
	View Users
{% endblock %}

{% block content %}
    <!-- {% for ord in user.todolist.all %}
		<p><a href="/view/{{td.id}}">{{td.name}}</a></p>
    {% endfor %} -->
    {% if privilege %}
        {% if user_list %}
            <table class = "table table-bordered table-hover" style="display: block; overflow-x: auto;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Customer Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Update User</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in user_list %}
                        <tr>
                            <th scope="row"> {{ u.id }} </th>
                            <td> {{ u.username }} </td>
                            <td><a href = "{% url 'register:user_update'  u.id %}">Update</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br/>
        <form method = "get" action = "/register/new/" class = "form-group">
            <button type="submit", name="newUser", value="newUser", class = "btn btn-success">Add Customer</button>
        </form>
    {% endif %}
{% endblock %}