{% extends 'orders/base.html' %}

{% block title %}
	Order: {{ order.id }}
{% endblock %}

{% block content %}
	{% if order %}
		<h3>Order Number: {{ order.id }}</h3>
		{% if privilege %}
			<h6>Customer: {{order.user}}</h6>
		{% endif %}
		<h6>Date: {{order.updated}}</h6>
		<br>
	    <form action="#">
			{% csrf_token %}
			{% for it in items %}
				<div class = "input-group mb-3">
					<div class = "input-group-prepend">
						<div class = "input-group-text">
							{{it.item}}
						</div>
					</div>
					<div class = "input-group-text" style="background-color: white; color: black"> 
							{{ it.qty }}
					</div>
				</div>
			{% endfor %}
			<br>
	    </form>
		<form method = "get" action = "{% url 'orders:order_delete' order.id %}" class = "form-group">
			<button type="submit", name = "delItem", value="delItem", class = "btn btn-success">Delete Order</button>
		</form>
	{% else %}
		The requested order does not exist
	{% endif %}
{% endblock %}