{% extends 'orders/base.html' %}

{% block title %}
	View Orders
{% endblock %}

{% block content %}
	{% if order_list %}
		<table class = "table table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Date Created</th>
					<th scope="col">Date Updated</th>
					<th scope="col">Order Id</th>
					<th scope="col">Amount (Rs)</th>
					{% if privilege %}
						<th scope = "col">Customer</th>
						<th scope="col">Payment</th>
						<th scope="col">Delivery</th>
						<th scope="col">Delete</th>
					{% else %}
						<th scope="col">Status</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for ord in order_list %}
					<tr align="center" valign="middle">
						<th scope="row"> {{ ord.created }} </th>
						<th scope="row"> {{ ord.updated }} </th>
						<td><a href = "{% url 'orders:order_detail'  ord.id %}"> {{ ord.id }} </a></td>
						<td>{{ ord.cost }}</td>						
						{% if privilege %}
							<td> {{ ord.user }} </td>
						{% endif %}
						{% if privilege %}
							{% if ord.paid %}
								<td>
									<button class = "btn btn-success", type="submit", onclick="location.href='{% url 'orders:order_update_pay' ord.id %}'">Paid</button>
								</td>
							{% else %}
								<td>
									<button class = "btn btn-success", style="background-color: #FF00F0; color: black;", type="submit",  background-color="#FF0000", onclick="location.href='{% url 'orders:order_update_pay' ord.id %}'">Set as Paid</button>
								</td>
							{% endif %}
							{% if ord.delivered %}
								<td>
									<button class = "btn btn-success" type="submit", onclick="location.href='{% url 'orders:order_update_delivery' ord.id %}'">Delivered</button>
								</td>
							{% else %}
								<td>
									<button class = "btn btn-success", style="background-color: #FF00F0; color: black;" type="submit",  background-color="#FF0000", onclick="location.href='{% url 'orders:order_update_delivery' ord.id %}'">Set as Delivered</button>
								</td>
							{% endif %}
							<td style="vertical-align: middle;">
								{% if ord.paid and ord.delivered %}
									<a href="{% url 'orders:order_delete' ord.id %}">
										<button class = "btn btn-success", style="background-color: red; color: black;" type="submit",  background-color="#FF0000", onclick="location.href='{% url 'orders:order_delete' ord.id %}'">Delete</button>
									</a>	
								{% endif %}
							</td>
						{% else %}
							{% if ord.delivered %}
								<td style="background-color:#00FF00">
									Delivered
								</td>
							{% elif ord.paid %}
								<td style="background-color:#74d3ff">
									Delivery Due
								</td>
							{% else %}
								<td style="background-color:#FF0000">
									Payment Due
								</td>
							{% endif %}
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
			<p>There are no orders to view</p>
    {% endif %}
{% endblock %}