{% extends 'orders/base.html' %}

{% block title %}
	View Orders
{% endblock %}

{% block content %}
    <!-- {% for ord in user.todolist.all %}
		<p><a href="/view/{{td.id}}">{{td.name}}</a></p>
    {% endfor %} -->
    {% if order_list %}
    	{% for ord in order_list %}
    		<li>
    			<a href = "{% url 'orders:order_detail'  ord.id %}">order number: {{ ord.id }} | date: {{ ord.updated }}
    				{% if privilege %}
    					| customer: {{ ord.user }}
    				{% endif %}
    			</a>
    		</li>
    	{% endfor %}
    {% endif %}
{% endblock %}