{% extends "orders/base.html" %}

{% block title %}
	View Orders
{% endblock %}

{% block content %}
    <!-- {% for ord in user.todolist.all %}
		<p><a href="/view/{{td.id}}">{{td.name}}</a></p>
    {% endfor %} -->
    {% if order_list %}
    	{% for ord in order_list %}
    		<li>
    			<a href = "{% url 'order_detail'  ord.id %}">order number: {{ ord.id }} | updated: {{ ord.updated_at }}
    				{% if privilege %}
    					| owned by: {{ ord.user }}
    				{% endif %}
    			</a>
    		</li>
    	{% endfor %}
    {% endif %}
{% endblock %}